.idea/
Suraksha.iml
/src/main/resources/Data
target/
src/main/webapp/images/*
/src/main/resources/libopenblas.dll
/src/main/resources/LiveMedia.dll
/src/main/resources/Neurotec.Licensing.xml
/src/main/resources/Neurotec.Media.Processing.dll
/src/main/resources/msvcr80.dll
/src/main/resources/Neurotec.dll
/src/main/resources/NLicensing.dll
/src/main/resources/NBiometricClient.dll
/src/main/resources/NMedia.dll
/src/main/resources/msvcp90.dll
/src/main/resources/msvcr90.dll
/src/main/resources/Neurotec.Biometrics.dll
/src/main/resources/Neurotec.xml
/src/main/resources/Neurotec.Media.xml
/src/main/resources/Neurotec.Biometrics.Client.xml
/src/main/resources/NMediaProc.dll
/src/main/resources/NClusterJni.dll
/src/main/resources/NCore.dll
/src/main/resources/msvcr100.dll
/src/main/resources/NCluster.dll
/src/main/resources/NdmMedia.dll
/src/main/resources/NdmMedia.ini
/src/main/resources/Neurotec.Media_FX35.xml
/src/main/resources/NDevices.dll
/src/main/resources/Neurotec.Media.dll
/src/main/resources/Neurotec.Biometrics.Client.dll
/src/main/resources/Neurotec.Biometrics.xml
/src/main/resources/msvcr110.dll
/src/main/resources/msvcp110.dll
/src/main/resources/Neurotec.Licensing.dll
/src/main/resources/msvcp100.dll
/src/main/resources/Neurotec.Media_FX35.dll
/src/main/resources/Neurotec.Media.Processing.xml
/src/main/resources/NdmVirtual.dll
/src/main/resources/msvcp80.dll
/src/main/resources/NBiometrics.dll
/src/main/resources/Activation/
/test.db
/src/main/resources/sdp.app.api-1.0.11-SNAPSHOT.jar
