<div ng-controller="campController as ctrl">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Relief Center Name</label>
        <input ng-model="ctrl.name">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-xs>
        <label>Person in Charge</label>
        <input>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-xs>
        <label>Location</label>
        <input ng-model="ctrl.location" placeholder="Double click on the map to set the location" disabled>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-xs>
        <md-button class="md-raised" ng-click="ctrl.saveCamp()">Create</md-button>
    </md-input-container>
</div>