<div ng-controller="imageSearchController as ctrl" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <form name="uploadForm">
            {{ctrl.file}}
            <md-input-container class="md-block">
                <label>Image</label>
                <input type="file" name="file" ng-model="ctrl.file" class="ng-hide" id="imageInput">
                <md-button id="uploadButton" class="md-raised md-primary" ng-click="ctrl.openImageBrowser()"> Choose Files </md-button>
            </md-input-container>
        </form>
    </md-content>
</div>