<div ng-controller="imageSearchController as ctrl" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding style="overflow-x: hidden">
        <md-input-container>
            <div dropzone="dropzoneConfig"
                 style="color:white;width: 80%;height: auto;min-height:200px;overflow-x: hidden;text-align: center;padding: 10px 20px 10px 10px;background-color: rgba(2,166,118,0.8);border: dotted 5px rgb(2,166,118)">
                Drag and drop photo here or click to upload
            </div>
        </md-input-container>
        <md-progress-linear md-mode="indeterminate" style="width: 80%" ng-show="ctrl.loading"></md-progress-linear>
    </md-content>
</div>