<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="css/jquery.fullpage.min.css">
    <!--sitewidestyles-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/site.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="globalController as gctrl" ng-cloak>
<!--google maps map object-->
<script type="application/javascript">
    var map;
</script>


<div id="menubar" ng-controller="ip-mainmenu-controller">
    <img src="img/suraksha-logo.png" alt="Suraksha logo" id="logo">
    <div id="button_area">
        <div class="menubutton reliefcenter">
            {{reliefCenterCount}} RELIEF CENTERS
        </div>
        <div class="menubutton donations">
            {{donationCount}} DONATIONS
        </div>
        <div class="menubutton rescued">
            {{locatedPeopleCount}} PEOPLE ACCOUNTED FOR
        </div>
    </div>
</div>

<div id="sk-container">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="width: 450px;margin-top: 90px;z-index: 10"
                md-component-id="left">
        <md-toolbar class="md-theme-left">
            <div layout="row">
                <h1 class="md-toolbar-tools">{{gctrl.title}}</h1>
                <md-button class="md-icon-button" aria-label="More" ng-click="close()" style="margin-top: 12px">
                    <md-icon md-svg-icon="img/ic_close_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <div ng-view layout="column" style="z-index: 150;">
            </div><!--
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>-->
        </md-content>
    </md-sidenav>
</div>
<div id="sk-main-view" ng-controller="home-controller">
    <div id="home" class="sk-view" style="width: 50%;float: right">
        <h1>WELCOME TO SURAKSHA</h1>
        <p>Surakshka allows you to volunteer for relief operations, check if a loved one is safe, discovered by
            relief
            staff and get in touch with them.</p>
        <md-button class="md-raised md-primary" ng-click="loadView('/pledge')">Pledge Donation</md-button>
        <md-button class="md-raised" ng-click="loadView('find')">Locate a Person</md-button>
        <md-button class="md-raised" ng-click="loadView('/camp')">Setup a Relief Center</md-button>
        <br>
    </div>
</div>

<div class="fp-section" id="mapPane" ng-class="sideNavLeftOpened">

</div>
</div>
<div id="map" style="width: 100%; height: 100%;z-index: 1">

</div>
<script type="text/javascript" src="lib/dropzone.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-aria.min.js"></script>
<script src="lib/angular-messages.min.js"></script>


<!-- Angular Material Library -->
<script src="lib/angular-material.min.js"></script>
<!--fullpagejs-->
<script src="lib/jquery.min.js"></script>
<script src="lib/jquery.fullpage.min.js"></script>
<script>
    function initMap() {
        console.log("initilizing map");
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 6.913255, lng: 79.8643277},
            zoom: 12
        });
// Define the LatLng coordinates for the polygon's path.
        var triangleCoords = [
            {lat : 6.937673677992414, lng : 79.84382629394531},
            {lat : 6.958462567037774, lng : 79.8874282836914},
            {lat : 6.940740948916455, lng : 79.97703552246094},
            {lat : 6.911430655357409, lng : 79.98321533203125},
            {lat : 6.872574675152924, lng : 79.97806549072266},
            {lat : 6.836101698449195, lng : 79.96227264404297},
            {lat : 6.806103144924004, lng : 79.94407653808594},
            {lat : 6.795194114779069, lng : 79.90768432617188},
            {lat : 6.795535025719505, lng : 79.8867416381836},
            {lat : 6.799966845945018, lng : 79.87232208251953},
            {lat : 6.883822786318728, lng : 79.85481262207031}
        ];

        // Construct the polygon.
        var bermudaTriangle = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: '#FF6600',
            strokeOpacity: 0.6,
            strokeWeight: 1,
            fillColor: '#FF6600',
            fillOpacity: 0.2
        });
        bermudaTriangle.setMap(map);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbe_8nTA6AI5dC14yrhMhuL3_Qn3KoqKA&callback=initMap&v=3.23"
        type="text/javascript"></script>

<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/navigationController.js"></script>
<script src="js/controllers/imageSearchController.js"></script>
<script src="js/controllers/PledgeController.js"></script>
<script src="js/controllers/campController.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage();
    });
</script>
</body>
</html>